# ===========================
# CONFIGURACION DEL SERVIDOR
# ===========================
PORT=3000

# ===========================
# BASE DE DATOS POSTGRESQL
# ===========================
DB_HOST=HOST-BASEDEDATOS.COM
DB_PORT=5432
DB_NAME=NOMBRE-BASEDEDATOS
DB_USER=USUARIO-BASEDEDATOS
DB_PASSWORD=CONTRASENA-BASEDEDATOS
DB_SSL=true

# ===========================
# CLOUDINARY
# ===========================
CLOUDINARY_CLOUD_NAME=NOMBRE-CLOUDINARY
CLOUDINARY_API_KEY=API-KEY-CLOUDINARY
CLOUDINARY_API_SECRET=API-SECRET-CLOUDINARY

# ===========================
# AUTENTICACION
# ===========================
JWT_SECRET=CAMBIA-ESTE-SECRETO
JWT_EXPIRES_IN=1d
