# ===========================
# CONFIGURACIÓN DEL SERVIDOR
# ===========================

PORT=3000

# ===========================
# BASE DE DATOS POSTGRESQL
# ===========================

DB_HOST=HOST-BASEDEDATOS.COM
DB_PORT=5432
DB_NAME=NOMBRE-BASEDEDATOS
DB_USER=USUARIO-BASEDEDATOS
DB_PASSWORD=CONTRASEÑA-BASEDEDATOS
DB_SSL=true



